@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset css style start*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body {
  	background-color: #1b1e28;
	line-height: 1;
}

ol, ul, li {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
}


html, body{
    height: 100%!important;
}

.root{
    height: 100%;
}

.App{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 1 auto;
}

/* reset css style end*/

/* header style */

.header{
  background-color: #14151e;
  width: 100%;
  height: 76px;
  position: sticky;
  top: 0;
  z-index: 101;
}

.nav__wrapper{
	display: flex;
    align-items: center;
    height: 100%;
}

.Links{
    display: flex;
    width: 100%;
}

.logo{
	margin: 0 6px;
	align-self: center;
}

.nav__links{
	display: flex;
	align-items: center;
	margin-right: auto;
	margin-left: 24px;
}

.link{
	font-weight: 600;
	padding: 0 16px;
	color: #9a9ba0;
	display: flex;
	justify-content: center;
    align-items: center;
    height: 76px;
	transition: all .3s linear;
}

.link:hover{
	color: #f7a600;
    background: hsla(0,0%,100%,.06);
}

.auth__links{
	display: flex;
	align-items: center;
}

.auth__links .link{
    color: #fff;
}

.auth__links .reg__link{
	background-color: #f7a600;
	color: #15192a;
}

.burger{
    cursor: pointer;
}

.active__burger::before{
    transform: rotate(45deg);
    top: auto!important;
    bottom: 9px;
}

.active__burger::after{
    transform: rotate(-45deg);
    top: 8px!important;
    bottom: -9px;
}

.active__burger span{
    transform: scale(0);
}

@media (max-width: 991px) {
    .Links{
        position: absolute;
        padding-bottom: 10px;
    }

    .Links__active{
        padding-top: 304px;
        z-index: -1;
        background-color: #14151e;
        display: grid;
    }

    .Links__dissable{
        display: none;
    }

    .nav__links{
        display: grid;
        width: 100%;
        margin-left: 0;
    }

    .link{
        height: 54px;
    }

    .auth__links{
        justify-content: center;
    }

    .logo{
        margin: 0 10px;
    }

    .burger{
        margin: 0 10px 0 auto;
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    
    .burger::after,
    .burger::before{
        content: '';
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    
    .burger::before{
        top: 0;
    }
    
    .burger::after{
        bottom: 0;
    }
    
    .burger span{
        position: absolute;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
}

@media (max-width: 500px) {
    .banner__wrap .title{
        font-size: 24px;
    }

    .banner__wrap .title__desc{
        font-size: 14px;
    }
    
    .home__banner{
        background-position: 85% 0!important;
    }
}



.dropdown{
    cursor: pointer;
	padding: 10px;	
	position: relative;
}

.dropdown:hover .arrow-dropdown{
    transform: rotate(180deg);
}

.lb-dropdown{
    cursor: pointer;
}

.arrow-dropdown{
    margin-left: 6px;
    transition: .5s all;
}

.dropdown:hover #ckb-dropdown ~ ul{
	display: inline-block;
}

.dropdown #ckb-dropdown:checked ~ ul{
	display: inline-block;
}

.dropdown ul{
	background-color: #22232b;
	box-shadow: 0px 0px 1px #7f8c8d;
	display: none;
	left: 0px;
	list-style: none;
	position: absolute;
	top: 75px;
    width: 100%;
    border-radius: 2px;
}

.dropdown ul li{
	font-size: 14px;
}

.dropdown ul li a{
	color: #9a9ba0;
	display: block;	
	padding: 10px;
	text-decoration: none;
    transition: all .3s linear;
}

.dropdown ul li a:hover{
	background-color: #3f4158;
	color: #9a9ba0;
}

.dropdown-check{
    display: none!important;
}

/* header style */

/* home style */

.home__banner{
	background-color: #07023a;
    background-image: url(../public/banner.png);
    background-position: 100% 0;
	background-repeat: no-repeat;
    background-size: cover;
	height: 520px;
}

.banner__wrap{
	max-width: 1140px;
    margin: 0 auto;
    padding-top: 117px;
}

.title{
	font-size: 36px;
    line-height: 44px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 6px
}

.title__desc{
	font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: .05em;
    color: hsla(0,0%,100%,.8);
    margin-bottom: 42px;
}

.banner__btns{
	display: flex;
}

.banner__btn{
    color: #020204;
    margin-right: 20px;
    line-height: 40px;
	min-width: 120px;
	height: 40px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: .05em;
    text-align: center;
    background: linear-gradient(91.47deg,#f7a600 .59%,#d142ff 105.04%);
	transition: .3s all;
}

.banner__btn:hover{
	opacity: 0.8;
}

.banner__btn span{
	color: #f7a600;
    line-height: 36px;
    height: 100%;
    width: 100%;
    padding: 6px 14px;
    background-color: #000;
    border-radius: 4px;
}

.main__wrap{
	max-width: 1140px;
    margin: 0 auto;
    padding: 46px 42px 96px 42px;
}

.title__wrap{
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}

.title{
	color: white;
	margin-right: auto;
	font-size: 32px;
    line-height: 38px;
    font-weight: 700;
}

.title__link{
	color: white;
	background: hsla(0,0%,100%,.1);
    border-radius: 20px;
	padding: 10px 14px 10px 18px;
    font-size: 18px;
}

.fa-angle-right{
	transition: .2s all;
}

.title__link:hover .fa-angle-right{
	transform: translateX(2px);
}

.popular__collection{
    margin-bottom: 60px;
}

.popular__cards{
	display: flex;
	flex-wrap: wrap;
}

.card-col{
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
}

.popular__card{
	/* flex: 1 0 1%;
    width: 100%;
    max-width: 100%; */


    margin: 0 auto 10px;
	width: 330px;
    height: 341px;
    background: #1a1825;
    border-radius: 24px;
    border: 1px solid hsla(0,0%,100%,.1);
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
    position: relative;
	transition: .5s all;
	cursor: pointer;
}

.popular__card:hover{
	border-width: 2px;
    transform: translateY(-10px);
}

.img__wrapper{
	width: 306px;
    height: 203px;
    position: relative;
}

.img__wrapper:hover .img__wrap .image_FCS .card__pic{
	transform: scale(1.1) translateY(-50%);
}

.img__wrap{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.image_FCS{
	width: 100%;
    height: 100%;
    background-color: hsla(0,0%,100%,.04);
	border-radius: 12px;
    overflow: hidden;
    position: relative;
    will-change: transform;
}

.card__pic{
	height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	vertical-align: top;
    opacity: 1;
	width: 100%;
	transition: all .3s ease-out;
}

.avatar__wrap{
	position: absolute;
    width: 100px;
    height: 64px;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: content-box;
    background: url(../public/img/nft/avatarconst.svg) top;
    opacity: .98;
}

.avatar__FCS{
	width: 64px;
    height: 100%;
    margin-left: 18px;
    margin-top: 8px;
	border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    background: hsla(0,0%,100%,.2);
    position: relative;
    z-index: 9;
}

.card__avatar{
	width: 100%;
    height: 100%;
    background-color: hsla(0,0%,100%,.04);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    will-change: transform;
}

.avatar{
	width: 100%;
	height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	vertical-align: top;
    opacity: 1;
}

.popular__card__footer{
	position: relative;
    width: 100%;
    margin-top: 35px;
    padding: 0 8px;
    z-index: 9;
}

.popular__footer__title{
	max-width: 354px;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
    color: hsla(0,0%,100%,.9);
    margin-bottom: 8px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.popular__footer__desc{
	font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: hsla(0,0%,100%,.6);
    height: 45px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 1200px) {
	.banner__btns{
		place-content: center;
	}

	.banner__wrap{
		text-align-last: center;
		padding-top: 300px;
	}

    .card-col{
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
    }

    .img__wrapper{
        width: 100%;
    }

    .popular__card{
        width: 270px;
    }
}

@media screen and (max-width: 940px) {
    .popular__cards{
        gap: 20px;
        place-content: center;
    }

    .card-col{
        flex: inherit;
        max-width: 100%;
    }

    .popular__card{
        width: 270px;
        height: 341px;
    }
}

@media screen and (max-width: 800px) {
    .popular__card{
        width: 421px;
    }
}

@media screen and (max-width: 620px) {
    .title__wrap{
        text-align: center;
        place-items: center;
        display: grid;
        place-content: center;
    }

    .title{
        margin-right: 0;
    }
}

@media screen and (max-width: 480px) {
    .popular__card{
        width: auto;
    }
}

/* dialog */

.dialog-window{
	background-color: rgb(247, 166, 0);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.05);
    position: fixed;
    right: 24px;
    bottom: 24px;
	box-shadow: 0 4px 4px rgb(247 166 0 / 10%), 0 0px 30px rgb(247 166 0 / 45%);
	transition: .3s all;
    z-index: 9999;
}

.dialog-window-des{
    background-color: rgb(247, 166, 0);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.05);
    position: fixed;
    right: 24px;
    bottom: 24px;
	box-shadow: 0 4px 4px rgb(247 166 0 / 10%), 0 0px 30px rgb(247 166 0 / 45%);
	transition: .3s all;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}

.dialog-window:hover{
	opacity: .8;
}

.dialog-window span{
	font-size: 1.5rem;
    padding: 14px;
}

.dialog-window-des span{
    font-size: 1.5rem;
    padding: 14px;
}

/* footer */

footer{
	width: 100%;
	height: 365px;
	background-color: #15161f;
}

.content__footer{
	display: flex;
	min-height: 283px;
    max-width: 1140px;
    margin: 0 auto;
	justify-content: space-between;
}

.col__footer{
	height: fit-content;
    margin-top: 64px;
    margin-right: 62px;
	display: grid;
    word-break: break-word;
}

.logo__footer{
	height: fit-content;
	margin-top: 34px;
}

.logo__footer img{
	width: 200px;
}

.footer__title{
    font-weight: 700;
    font-size: 16px;
    color: #dddeff;
    margin-bottom: 28px;
}

.link__wrap__footer{
	margin-bottom: 16px
}

.link__footer{
	font-size: 15px;
    line-height: 16px;
    letter-spacing: .5px;
    color: rgba(221,222,255,.6);
	transition: .3s all;
}

.link__footer:hover{
	opacity: .6;
}

.socail__media{
	display: flex;
    flex-flow: row nowrap;
	margin-bottom: 16px;
}

.link__social{
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: 15px;
    line-height: 16px;
    letter-spacing: .5px;
    color: rgba(221,222,255,.6);
	transition: all .35s;
}

.link__wrap{
	position: relative;
	margin-right: 24px;
	border: 1px solid hsla(0,0%,100%,.08);
}

.tw__wrap{
	border-bottom: 2px solid #1aa774;
}

.tg__wrap{
	border-bottom: 2px solid #6a52ff;
}

.ds__wrap{
	border-bottom: 2px solid #f07149;
}

.tw{
	background-color: #1aa774;
}

.tg{
	background-color: #6a52ff;
}

.ds{
	background-color: #f07149;
}

.link__social span{
	z-index: 9;
}

.tw:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #15161f;
	transition: all .35s;
}

.ds:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #15161f;
	transition: all .35s;
}

.tg:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #15161f;
	transition: all .35s;
}
  
.link__social:hover{
	color: #fff;
}
  
.link__social:hover:after{
	height: 0;
}

.copyright{
	display: flex;
    flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 82px;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    color: rgba(221,222,255,.4);
    margin: 0 64px;
    border-top: 1px solid rgba(221,222,255,.1);
}

.link__copyright{
	text-decoration: underline;
	margin: 0 4px;
	color: rgba(221,222,255,.4);
	transition: .3s all;
}

.link__copyright:hover{
	opacity: .7;
}

@media screen and (max-width: 700px) {
    .content__footer{
        display: grid;
        justify-content: center;
    }

    .col__footer{
        justify-items: center;
        margin-right: 0;
        margin-top: 40px;
    }

    footer{
        height: auto;
    }
}

/* slider */

.qa__slider{
	position: relative;
	height: 398px;
    background: linear-gradient(90.48deg,rgba(146,144,255,.1) 1.04%,rgba(146,144,255,.05) 77.53%,rgba(146,144,255,.02) 109.92%);
    border-radius: 24px;
    padding: 32px 112px 32px 40px;
	overflow: hidden;
}

.qa__container{
	position: relative;
    height: 334px;
}

.qa__items{
	justify-content: center;
	display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.qa__item{
	margin-bottom: 48px;
}

.qa__item__v2{
    margin-bottom: 30px;
}

.qa__item__v3{
    margin-bottom: 10px;
}

.qa__title{
	font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-shadow: 0 2px 4px rgb(207 199 255 / 20%);
    color: #e1deff;
    margin-bottom: 13px;
}

.qa__desc{
	font-size: 14px;
    line-height: 180%;
    color: rgba(206,205,255,.8);
}

.qa__item__active{
	transition: transform .4s ease-in-out;
    transform: translateY(0px) scale(1);
}

.qa__item__active2{
	transition: transform .4s ease-in-out;
    transform: translateY(-398px) scale(1);
}

.qa__item__dissable{
	transition: transform .4s ease-in-out;
	transform: translateY(398px) scale(1);
}

.qa__slider .qa__controller i{
	color: white;
	font-size: 24px;
}

.qa__controller{
    padding: 5px 6px;
	background-color: #31303f;
}

.cnt__up{
	position: absolute;
    right: 50px;
    top: 130px;
    z-index: 10;
    border-radius: 50%;
    font-weight: 700;
    cursor: pointer;
}

.cnt__down{
	position: absolute;
    right: 50px;
	top: 235px;
    z-index: 10;
    border-radius: 50%;
    font-weight: 700;
    cursor: pointer;
}

.controller__disable{
	cursor: not-allowed;
}

.controller__disable i{
	color: #555460!important;
}

@media screen and (max-width: 1150px) {
    .qa__controller{
        display: none;
    }

    .qa__slider{
        height: auto;
        padding: 32px 40px;
    }

    .qa__items{
        transform: inherit;
        position: relative;
    }

    .qa__container{
        height: auto;
    }
}

@media screen and (max-width: 670px) {
    .qa__item{
        text-align: -webkit-center;
    }
}

/* about */

.about__wrap{
    display: flex;
    flex-flow: row nowrap;
	min-height: 403px;
    background: linear-gradient(90.48deg,rgba(146,144,255,.1) 1.04%,rgba(146,144,255,.05) 77.53%,rgba(146,144,255,.02) 109.92%);
    border-radius: 24px;
    padding: 32px 40px;
	overflow: hidden;
}

.about__item{
    text-align: center;
    min-height: 340px;
}

.about__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: hsla(0,0%,100%,.9);
    text-shadow: 0 2px 4px rgb(207 199 255 / 20%);
    padding: 0 20px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.about__desc{
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: hsla(0,0%,100%,.6);
    text-shadow: 0 2px 4px rgb(207 199 255 / 20%);
    padding: 0 20px;
}

@media screen and (max-width: 1130px) {
    .about__wrap{
        display: grid;
        width: fit-content;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .about__item img{
        max-width: 155px;
        max-height: 110px;
    }

    .about__item{
        min-height: 260px;
    }
}

/* Market */

.market__wrap{
    display: flex;
    flex-flow: row nowrap;
    flex-wrap: wrap;
}

.card__item__wrap{
    /* width: 240px; */
    height: 388px;
    margin-bottom: 32px;
    position: relative;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 8px;
}

.market__item__link:hover{
    background: linear-gradient(139.76deg,#ffa842 49.65%,#ff8642);
    box-shadow: 0 4px 4px rgb(247 166 0 / 10%), 0 4px 80px rgb(247 166 0 / 24%);
    transition: border .3s ease-in-out;
    transform: translateY(0);
}

.market__item__link:hover::before{
    content: "";
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../public/img/cup.png) 50%/100% 100% no-repeat;
    pointer-events: none;
}

.market__item__link:hover .card__detail{
    transform: translateY(-53px);
}

.market__item__link{
    border-radius: 8px;
    position: relative;
    display: block;
    transition: box-shadow .3s linear,transform .3s linear,border .3s linear;
    word-break: break-word;
    border: 2px solid transparent;
}

.card__wrapper{
    height: 388px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

.card__box{
    display: flex;
    flex-flow: column nowrap;
    height: 441px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: transform .2s linear;
    transform: translateY(0);
}

.market__img{
    overflow: hidden;
    background-color: #1d1e29;
    flex-shrink: 0;
    width: 100%;
    height: 240px;
    position: relative;
    z-index: 10;
}

.market__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card__detail{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    padding: 16px 16px 12px;
    position: relative;
    z-index: 10;
    background: linear-gradient(180deg,rgba(27,26,40,.8),#282828),#000;
    transition: transform .2s linear;
    transform: translateY(0);
}

.title__market{
    height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    max-height: 38px;
    color: hsla(0,0%,100%,.9);
    margin-bottom: 6px;
}

.author__nft{
    color: #f7a600;
    line-height: 14px;
    margin-bottom: 15px;
    height: 18px;
}

.price__nft{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.price__left{
    max-width: 50px;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}

.price__left span{
    margin-right: 5px;
    line-height: 14px;
    color: hsla(0,0%,100%,.6);
    flex-shrink: 0;
}

.price__right{
    display: flex;
    flex-flow: column nowrap;
}

.price__ico{
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: hsla(0,0%,100%,.9);
    text-align: right;
    align-items: center;
}

.price__ico i{
    margin-right: 6px;
}

.buy__btn{
    background: linear-gradient(97.75deg,#ffe073 .17%,#ffcc47 14.86%,#f78500 97.52%);
    color: #000;
    font-weight: 700;
    border-radius: 4px;
    height: 38px;
    font-size: 15px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.card__item__wrap:hover .buy__btn{
    box-shadow: 0 0 4px rgb(247 166 0 / 40%), 0 0 32px rgb(247 166 0 / 40%), inset 1px 0.5px 2px hsl(0deg 0% 100% / 49%);
}

@media screen and (max-width: 1024px) {
    .card__item__wrap{
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
    }
}

@media screen and (max-width: 768px) {
    .card__item__wrap{
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 550px) {
    .card__item__wrap{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* scroll bar */

:root {
	--scroll-bar-size: 16px;
	--scroll-bar-thumb-background-color: #353858;
	--scroll-bar-thumb-background-color-active: #40446d;
}

::-webkit-scrollbar {
	width: var(--scroll-bar-size);
	height: var(--scroll-bar-size);
	background: #14151e;
	cursor: pointer;
}
::-webkit-scrollbar-thumb {
	background-color: var(--scroll-bar-thumb-background-color);
	border-radius: var(--scroll-bar-size);
	border-color: transparent;
	border-style: solid;
	border-width: calc(var(--scroll-bar-size)/3);
	background-clip: padding-box;
}
::-webkit-scrollbar-thumb:active {
	background-color: var(--scroll-bar-thumb-background-color-active);
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
	background-color: var(--scroll-bar-thumb-background-color-active);
}


/* support */

.active__support{
    opacity: 1;
    visibility: visible;
}

.dialog__wrapper .dessable__support{
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.support__window{
    position: fixed;
    height: 90%;
    right: 24px;
    bottom: 24px;
    max-width: 375px;
    max-height: 525px;
    border-radius: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    box-shadow: rgb(0 0 0 / 12%) 0px 12px 48px 4px;
    background-color: rgb(18, 18, 18);
    z-index: 10010;
    opacity: 1;
    transform: translate(0px, 0px);
    transition: transform 300ms ease 0s, opacity 300ms ease 0s;
}

.head__par{
    height: 56px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
}

.suport__btns{
    height: fit-content;
}

.left__sup{
    display: flex;
    margin-left: auto;
}

.suport__btn{
    border: none;
    background: none;
    padding: 0px;
    cursor: pointer;
    font-size: 0px;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    height: 32px;
    width: 32px;
    transition: all 100ms ease 0s;
    margin: 0 4px;
}

.suport__btn:hover{
    background-color: rgba(255, 255, 255, 0.06);
}

.chat__list{
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 0px 12px;
    overscroll-behavior-y: contain;
    margin-top: auto;
    display: flex;
    flex-direction: column-reverse;
}

.chat__wrap{
    padding: 12px;
    flex: 1 1 auto;
    width: 100%;
}

.message__sup{
    display: flex;
    align-items: flex-end;
    margin-bottom: 12px;
}

.ico__mes{
    padding-right: 8px;
}

.us__message{
    justify-content: right;
    flex-flow: row-reverse;
}

.us__message .ico__mes{
    padding-left: 8px;
}

.ico__mes img{
    border-radius: 50%;
}

.sup__input{
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.42);
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 4%) 0px 12px 36px 0px;
    /* transition: all 300ms */
}

.text__mes{
    background-color: rgb(41, 41, 41);
    color: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    padding: 10px 14px;
    font-weight: normal;
    line-height: 1.25;
    font-size: 16px;
    word-break: break-word;
    white-space: pre-wrap;
    box-sizing: border-box;
}

.support__text{
    width: 100%;
    resize: none;
    margin: 0px;
    border: none;
    background: rgb(18, 18, 18);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);
    line-height: 1.25;
    outline: none;
    padding: 10px 38px 10px 13px;
}

.submit__message{
    position: absolute;
    top: 8px;
    right: 8px;
    background: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    border: none;
    padding: 0px;
    margin: 0px;
    font-size: 0px;
    cursor: pointer;
}

.submit__message svg{
    transform: rotate(90deg);
}

.active__support{
    animation: 500ms ease-out 0s 1 normal none running Activ;
}

.dessable__support{
    animation: 500ms ease-out 0s 1 normal none running Des;
}

.title__sup{
    display: flex;
    align-items: center;
}

.title__sup .ico__mes{
    padding-right: 0;
}

.title__sup .tt{
    color: rgba(255, 255, 255, 0.98);
    font-size: 16px;
    padding: 0px 8px;
    font-weight: 500;
}

@keyframes Des {
    from {
        transform: translate(0, 0);
    }
  
    to {
        transform: translate(0, 20%);
    }
  }

@keyframes Activ {
    from {
      transform: translate(0, 20%);
    }
  
    to {
        transform: translate(0, 0);
    }
}


/* reference */

.about__page__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: hsla(0,0%,100%,.9);
    padding: 32px 0 24px;
}

.about__page__wrap{
    max-width: 1056px;
    margin: 0 auto;
    padding-bottom: 72px;
}

.tab__panel__about{
    display: flex;
}

.tabs__about {  
    display: grid;
    height: fit-content;
    box-shadow: 1px 0 0 hsl(0deg 0% 100% / 6%);
}

.title__ref{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: hsla(0,0%,100%,.9);
    margin-bottom: 24px;
}

.tab {  
    font-size: 16px;
    line-height: 19px;
    padding: 0 43px 0 24px;
    color: hsla(0,0%,100%,.7);
    border-right: 2px solid #282b35;
    cursor: pointer;
    height: 51px;
    background-color: transparent;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.tab.active {
    color: #f7a600;
    background: rgba(247,166,0,.06);
    border-right: 2px solid #f7a600;
}

.panel {
    display: none;
    background: hsla(0,0%,100%,.06);
    border-radius: 8px;
    margin-left: 32px;
    padding: 24px;
    font-size: 16px;
    line-height: 1.5;
    color: hsla(0,0%,100%,.7);
}

.panel.active {
    display: block;
}

/* marketplace page style */

.title__section{
    font-weight: 700;
    color: #fff;
    font-size: 32px;
    line-height: 38px;
}

.categories__wrap{
    padding: 24px 0 12px 0;
    max-width: 1140px;
    margin: 0 auto;
}

.categories__section{
    display: flex;
}

.cat-bg{
    background-color: #1b1e28;
    position: sticky;
    top: 76px;
    z-index: 99;
}

.pt-46{
    padding-top: 46px;
}